In [1]:
import pandas as pd
import pickle

In [5]:
psm_cutoff = 150
fs = '../ppi_ml/data/meta/euk_codes_ordered_phylo.txt'
fogs = f'../ppi_ml/results/elutions/id_filters/{psm_cutoff}p_ids.filtdollo.txt'
fc = f'../ppi_ml/results/elut_clustering/leca.unique.filtdollo.{psm_cutoff}p.norm.ordered.clst.correlation.average.elut.pkl'
outfile = f'../ppi_ml/results/coverage/og_coverage_by_species_phylo.{psm_cutoff}p.filtdollo.csv'
path = '../ppi_ml/data/og_proteomes/nog_mapping/'
suffix = '.euNOG.diamond.mapping.2759'

In [6]:
species_ordered = [line.strip() for line in open(fs, 'r')]
ogs = [line.strip() for line in open(fogs, 'r')]

In [7]:
clst_df = pd.read_pickle(fc)
clst_df.set_index(clst_df.iloc[:, 0].name, inplace=True)
ogs = clst_df.index.tolist()

In [8]:
len(ogs)

5988

In [9]:
final_df = pd.DataFrame()
final_df['ID'] = ogs
final_df.set_index('ID', inplace=True)
for species in species_ordered:
    f = path+species+suffix
    df = pd.read_csv(f, sep = '\t')
    df = df[['ID']].drop_duplicates()
    df[species] = 1
    df.set_index('ID', inplace=True)
    final_df = final_df.join(df, how='left')
final_df.fillna(0, inplace=True)
final_df = final_df.astype(int)
final_df.head()

,dicdi,yeast,nemve,brart,drome,caeel,strpu,xenla,pig,mouse,...,cocnu,maize,orysj,wheat,cheqi,sollc,arath,braol,cansa,soybn
ID,,,,,,,,,,,,,,,,,,,,,
ENOG502QU2G,1,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENOG502SCCH,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENOG502QU2S,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENOG502QRRC,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENOG502RH9U,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
final_df.reset_index(inplace=True)
final_df.to_csv(outfile, index=False)

Test heatmaps; potentially move the code below to a new notebook
edit: ugh, this is horrible. I'm just going to do this in R

In [ ]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# import numpy as np
# from mpl_toolkits.axes_grid1 import make_axes_locatable

In [ ]:
# cmr = sns.color_palette("cividis_r", 3)
# sns.color_palette(palette="cividis_r")

In [ ]:
# plot_df = final_df.set_index('ID', inplace=True)
# x = plot_df.to_numpy()

In [ ]:
# ## customize color  bar location

# divider = make_axes_locatable(ax)

# # define two rows for subplots
# fig, (cax, ax) = (plt.subplots(nrows=2, figsize=(5,5.025),
#                                gridspec_kw={"height_ratios":[0.025, 1]}))

# # colorbar specs?
# #cax = divider.append_axes("bottom", size="5%", pad=0.10)

# # draw heatmap
# p = (sns.heatmap(x, xticklabels=False, yticklabels=False, ax=ax, cbar=False,
#                 cbar_kws = {'orientation':'horizontal'})
#     )

# # colorbar
# fig.colorbar(ax.get_children()[0], cax=cax, orientation="horizontal")

# plt.show()

In [ ]:
# # plt.figure(figsize=(8, 4.5))
# # p = (sns.heatmap(x, xticklabels=False, yticklabels=False, 
# #                  cmap = "cividis_r", 
# #                  cbar_kws = dict(use_gridspec=False, location="bottom"))
# #     )
# p.tick_params(left=False, bottom=False)
# # plt.savefig('../ppi_ml/figures/og_cov_heatmap_150p_filtdollo.pdf', 
# #            dpi=300)
# # plt.savefig('../ppi_ml/figures/og_cov_heatmap_150p_filtdollo.png', 
# #            dpi=300)
# plt.show()